#Ingresa a https://api.bible/sign-in e inicia sesión o crea una cuenta si no la tienes
#En el Dashboard, copia la API Key que aparece arriba a la derecha
#Pega la API Key aqui y cambia el nombre de este archivo a .env
APIkey=tu_api_key